main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.jool {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.kan {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
  color: black;
  width: 60px;
  height: 60px;
  border: 2px solid gainsboro;
  border-radius: 20px;
  animation: 1s start;
  transition: all ease-in-out 0.7s;
}
#over {
  position: absolute;
  top: 270px;
  cursor: default;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  transition: all ease-in-out 3s;
}
#timer {
  cursor: default;
}
@keyframes start {
  to {
    transform: scale(0.95);
  }
  from {
    transform: scale(1.2);
  }
}
